<title> {{ ansible_distribution }} </title>
<center>
<h1> Welcome to {{ ansible_distribution }} </h1>
<h2> Host name is {{ ansible_hostname }} </h2>
<h3> This is managed by {{user_name}} </h3>
</center>

